body {
  margin: 20px;
  font-size: 100%;
  padding: 30px
}

.inputContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: start;
  /* border: 1px solid green */
  margin: 10px 10px 10px 0px
}

.inputItem{
  /* max-width: 45%; */
  width: 49%;
  /* border: 1px solid red; */

}

input[type="text"]{
  justify-self: right;
}

label{
  font-weight: 550;
}